/*
 * Copyright 2019 - 2021 VMware, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

@import "fonts.css";

body {
    font-family: proxima_nova_reg, sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 40px;
    background-color: #F7F7F7;
}

h1 {
    font-family: proxima_nova_bold, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 20px 0;
}

h2 {
    font-family: proxima_nova_semibold, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 28px;
    margin: 100px 20px 0 0;
}

.ImagesForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px
}

.ImagesForm__image-label {
    font-family: proxima_nova_semibold, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
}

.ImagesForm__image-input {
    box-sizing: border-box;
    height: 2rem;
    width: 30rem;
    border: 1px solid #979797;
    border-radius: 2px;
    margin-right: 10px;
    background-color: #FFFFFF;
}

.ImagesForm button {
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #0882ca;
    color: #F7F7F7;
    font-family: proxima_nova_reg, sans-serif;
    font-size: 14px;
    line-height: 17px;
    transition: background-color 0.3s ease;
}

.ImagesForm button:disabled{
    background-color: #dddddd;
    cursor: not-allowed;
}

.ImagesDisplay__header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 16px;
}

.ImagesDisplay__destroy-session-button {
    background: none;
    color: #0882ca;
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    font-family: proxima_nova_bold, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-results img {
    max-width: 27rem;
    max-height: 15rem;
    width: auto;
    height: auto;
}

.search-query {
    margin-bottom: 16px; /* Adjust the margin as needed */
}