/**/*.log
/**/*.class
/**/*.dat
/**/*.crf
/**/*.drf
/**/*.krf
/**/*.if
/**/locator
/**/locator0
/**/server
/**/server0
/**/server1j
/**/obj
/**/bin
nuget.config
/**/.idea
/**/.DS_Store
.vs/
.vscode/

/examples/dotnet/*/bin/
/examples/dotnet/*/obj/
.ruby-version

.DS_Store
.history/

/tools/gnmsg/.idea/
/tools/gnmsg/__pycache__/

.fake
*.iml
